.carousel {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  overflow-y: scroll;
  animation: scroll 35s linear infinite;
}

.carousel:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@media (max-width: 970px) {
  .carousel {
    flex-direction: row;
    overflow-x: hidden;
    animation: scroll-x 30s linear infinite;
  }
}

@keyframes scroll-x {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
