footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Bangers", cursive;
  letter-spacing: 1.5px;
}

.social-links ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.social-links ul li {
  margin-left: 1.4rem;
  list-style: none;
}

h2 {
  font-weight: 100;
}

@media screen and (max-width: 500px) {
  .social-links ul li {
    margin-left: 0.6rem;
  }
}

.social-links button {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-family: "Roboto Slab", serif;
  cursor: pointer;
}

.social-links button a {
  color: black;
}

.social-links button:hover {
  background-color: var(--bg);
  color: white;
}
